

<!-- views/layouts/main.hbs -->

<!--
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- ... (cabeçalho do HTML) ... -->


<!--
</head>
<body>
    {{> header }} <!-- Inclui o header.hbs -->
<!--
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>© 2023 - Sua Empresa</p>
    </footer>
    <script src="/script.js"></script>
</body>
</html>

-->
